@import "variables";

.App {
  height: 100vh;
  background-color: $bg-color;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 606px;
  background-color: $white-color;
  box-shadow: 0 4px 30px rgba(4, 20, 32, 0.1);
  border-radius: 4px;

  &__title {
    color: $font-color;
  }

  &__icon {
    object-fit: none;
  }

  &__heading {
    display: flex;
    padding: 12px 25px 12px 12px;
    height: 48px;
    border-bottom: 1px solid $blue-color;
  }

  &__content {
    padding: 10px 20px 10px 12px;
  }

  &__fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 22px;
    row-gap: 13px;
  }

  &__controllers {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    margin-top: 17px;
  }
}

.plus-icon {
  height: 24px;
  width: 24px;
  padding: 5px;
  margin-right: 12px;
}

.close-btn {
  margin-left: auto;
  cursor: pointer;

  &__icon {
    width: 20px;
    height: 20px;
    padding: 4px;
  }
}

.label-text {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.ellipse {
  position: absolute;
  left: 25px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #DC3545;
  box-shadow: 0 4px 5px rgba(6, 43, 12, 0.19);
}

.add-btn {
  line-height: 1.702;
  color: $primary-color;
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
}