// Colors
$bg-color: #F9FAFF;

$body-color: #37352F;
$primary-color: #2C7DFA;

$font-color: #2F2525;
$font1-color: #37352F;

$placeholder-color: #ADB5BD;

$white-color: #FFFFFF;
$blue-color: #EAF2FF;
$blue1-color: #CFE2FF;

// Animations
$default-transition: .3s;