@import "src/styles/variables";

.wrapper {
  display: flex;
  position: relative;
  width: 276px;
  height: 40px;
  border: 1px solid $blue-color;
  border-radius: 4px;
  font-weight: 300;
  cursor: text;
}

.input {
  font-style: italic;
  padding: 8px 12px;

  &::placeholder {
    color: $placeholder-color;
  }


  &__tel {
    width: 46px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

    cursor: default;

    position: relative;
    top: -1px;
    left: -1px;

    border-radius: 4px 0 0 4px;
    border: 1px solid $blue1-color;
    background-color: $blue-color;
  }
}

.flag_icon {
  width: 14px;
  height: 10px;
  object-fit: none;
}

.arrow_icon {
  width: 12px;
  height: 12px;
  object-fit: cover;
}